:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(329, 100%, 50%);
}
::selection {
  background-color: #97D9E1;
  color: hsl(329, 100%, 50%);
}

section {
  width: 100%;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Special Gothic Expanded One", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3em 10em;
  position: fixed;
  z-index: 9;
}

.typed-cursor {
  display: none;
}

main {
  width: 100%;
  height: 100%;
}

.main-text {
  color: black;
  padding: 10em 10em;
  position: absolute;
  text-align: left;
  z-index: 9;
  color: lightgoldenrodyellow;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 0 #000,
    7px 7px 0 #000;
}

.main-project-text {
  color: black;
  padding: 10em 10em;
}

.main-title {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 55px;
  padding: 50px 0 0 0;
}

.main-subtitle {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.carousel-home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.carousel-home #swiperHome {
  width: 100%;
  height: 100vh;
  cursor: grab !important;
}

.carousel-home #swiperHome .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.carousel-home #swiperHome .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-home #swiperHome .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  padding: 50px;
}

.carousel-home #swiperHome .swiper-slide {
  position: relative;
}

.projects {
  width: 100%;
  height: 100%;
  padding: 0 10em;
}

.projects-grid {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid #00b588;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card-title {
  margin-top: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.card-desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.4;
  flex-grow: 1;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  padding-bottom: 50px;
}

.clients {
  width: 100%;
  height: 100%;
  padding: 16em 0;
}

.card-img {
  width: 100%;
  object-fit: cover;
}

.card-img-about {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.clients-title {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 50px;
  padding: 50px 0 200px 0;
  text-align: center;
}

.clients .clients .swiper {
  display: block;
  overflow: hidden;
}

.clients .swiper-container {
  width: 100%;
  height: 100%;
}

.clients .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clients .swiper-slide img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.clients .swiper .swiper-slide {
  height: 100%;
  cursor: grab !important;
  overflow: hidden;
}

footer {
  color: black;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 14px;
  padding: 3em 6em;
}

footer .footer-wrapper {
  text-align: center;
}

footer .infos p:first-child {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

footer .infos p:last-child {
  font-size: 18px;
  color: hsl(329, 100%, 50%);
}

.copyright {
  font-size: 10px;
  color: gray;
  padding: 150px 15px 20px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1000px) {
  main {
    height: 100%;
  }

  .main-text,
  .main-project-text {
    padding: 5em 2em;
  }

  header {
    padding: 2em 2em;
  }

  .projects {
    padding: 0 2em;
  }
}

@media (max-width: 768px) {
  main {
    height: 100%;
  }

  .projects, .clients {
    padding: 0 2em;
  }

  header {
    padding: 2em 3em;
  }

  .projects-grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card, .client__item {
    flex: 1 1 100%;
  }

  .main-text,
  .main-project-text {
    padding: 5em 2em;
  }

  .main-title {
    font-size: 30px;
    padding: 20px 0;
    line-height: 30px;
  }

  .main-subtitle {
    font-size: 18px;
  }

  .clients .swiper-slide img {
    height: 400px;
  }

  .clients-title {
    font-size: 20px;
    padding: 50px 0 50px 0;
  }

  .carousel-home #swiperHome .swiper-slide img {
    padding: 5px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  header {
    padding: 1em 2em;
  }

  .main-text,
  .main-project-text {
    padding: 5em 2em;
  }

  .main-title {
    font-size: 38px;
    line-height: 40PX;
  }

  .main-subtitle {
    font-size: 16px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-desc {
    font-size: 14px;
  }
  
  .projects, .clients {
    padding: 2em 2em;
  }

  .projects-grid, .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card, .client__item {
    flex: 1 1 100%;
    margin-bottom: 1.5rem;
  }

  .clients .swiper-slide img {
    max-height: 100px;
  }
  
  footer {
    padding: 2em 1em;
  }

  footer .infos p:last-child {
    font-size: 14px;
  }

  .copyright {
    padding: 80px 0 20px 0;
  }

  .carousel-home #swiperHome .swiper-slide img {
    padding: 5px;
    object-fit: cover;
  }
}
