:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: url('/assets/imgs/bg-light.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

section {
  width: 100%;
}

h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Special Gothic Expanded One", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3em 6em;
  position: fixed;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.main-text {
  color: black;
  padding: 10em 10em;
}

.main-title {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  padding: 50px 0 0 0;
}

.main-subtitle {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  padding: 50px 0 0 0;
}

.logo img {
  width: 100px;
}

.typed-cursor {
  display: none;
}

.projects {
  width: 100%;
  padding: 0 10em;
}

.projects__title {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  margin-bottom: 1.5rem;
}

.projects-grid {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__title {
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.card__desc {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.4;
  flex-grow: 1;
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
}

.card__sep {
  border: none;
  border-bottom: 2px solid black;
  padding: 30px 0;
}

.clients {
  width: 100%;
  height: 100%;
  padding: 16em 0;
}

.card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.clients__grid {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.clients-title {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 50px;
  padding: 50px 0 200px 0;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.swiper .swiper-slide {
  height: 100%;
  cursor: grab !important;
}

footer {
  color: black;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 14px;
  padding: 3em 6em;
}

.footer-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.copyright {
  font-family: var(--inria-sans);
  font-size: 10px;
  color: gray;
  padding: 50px 15px 20px;
  text-align: center;
}

@media (max-width: 1200px) {
  .projects, .clients {
    padding: 0 5em;
  }

  .projects-grid, .clients__grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card, .client__item {
    flex: 1 1 45%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  main {
    height: 100%;
  }
  .projects, .clients {
    padding: 0 2em;
  }

  header {
    padding: 2em 3em;
  }

  .projects-grid, .clients__grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card, .client__item {
    flex: 1 1 100%;
  }

  .main-title {
    font-size: 30px;
    padding: 20px 0;
    line-height: 30px;
  }

  .main-subtitle {
    font-size: 18px;
  }

  .swiper-slide img {
    height: 400px;
  }

  .clients-title {
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 576px) {
  header {
    padding: 1em 2em;
  }

  .main-text {
    padding: 5em 2em;
  }

  .projects, .clients {
    padding: 2em 2em;
  }

  .projects-grid, .clients__grid, .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card, .client__item {
    flex: 1 1 100%;
    margin-bottom: 1.5rem;
  }

  footer {
    padding: 2em 1em;
  }

  .copyright {
    padding: 80px 0 20px 0;
  }
}
